* {
  margin: 0;
}

.App {
  width: 100%;
}

p {
  font-family: "Urbanist", sans-serif;
}

h1 {
  font-family: "Figtree", sans-serif;
  height: 100%;
  font-size: 40px;
}

h2 {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
}

.header {
  display: flex;
  margin: 3%;
  margin-top: 2%;
}

.tab {
  font-family: "Urbanist", sans-serif;
  margin-left: 70%;
  margin-top: 20px;
}
